@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Permanent+Marker&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  /* background-color: #161a1d; */
}
:root {
  --blackbackGround: #000000;
  /* --blackbackGround: #fffefe; */
  --whiteText: #fefffe;
  /* --whiteText:  #161a1d; */
  --grayFooter: #f1f0f4;
  --grayButton: #d9dadb;
  --blackText: #5c5d5f;
  --darkGray: #434549;
  --lightGray: #8e8e92;
  --blackButton: #161a1d;
  --logoRed: #e73a3c;
  /* --blackButton: #212529; */
  /* --blackButton: #010100; */
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* src/styles/global.css */
@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Apply global font */
body {
  font-family: "Gilroy", sans-serif;
  font-weight: 400; /* Default weight */
}
